@font-face {
    font-family: 'Comucan';
    src: url('./assets/fonts/Comucan-Regular.woff2') format('woff2'),
        url('./assets/fontsComucan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* styling */

:root {
  --main-blue: rgb(28, 146, 210);
  --main-orange: rgb(239, 179, 46);
  --main-gray: rgb(225, 231, 239);
  --dark-gray: rgb(216, 216, 216);
  --very-dark-gray: rgb(157, 157, 157);
  --off-white: rgb(249, 252, 254);
  --text-gray: rgb(98, 98, 98);
  --shadow: rgba(0, 0, 0, 0.1);
}

ul li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}


body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "nav header header"
  "nav main aside"
  ;
  background-color: var(--main-gray);
  font-family: 'Comucan', sans-serif;
}

img[src$=".svg"] {
  height: 25px;
  width: 25px;
  display: inline;
}

header {
  padding: 10px 30px;
  background-color: var(--off-white);
  color: black;
  grid-area: header;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--very-dark-gray);
}

.row-flexed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.profile-image-container {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

header .large-profile-image-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

header .search {
  width: 60%;
}

header .search input {
  background-color: var(--main-gray);
  width: 95%;
  border: none;
  border-radius: 20px;
}

header .search img {
  margin-right: 20px;
}

header .right-upper-header {
  width: 25%;
}

header .left-lower-header {
  gap: 10px
  
}

header .left-lower-header h1 {
  font-size: 24px;
}
  
header .right-lower-header {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

header .right-lower-header button {
  padding: 5px 25px;
  color: white;
  background-color: var(--main-blue);
  border: none;
  border-radius: 20px;
}


header h1 {
  width: max-content;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  background-color: var(--main-blue);
  padding: 20px;
  color: white;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  font-size: 24px;
}

.logo {
  font-size: 32px;
}

.main-links, .secondary-links {
  margin-left: 10px;
}

nav li, .logo {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

nav svg {
  height: 25px;
  width: 25px;
}

nav .logo svg {
  height: 45px;
  width: 45px;
}

.main-links img, .secondary-links img {
  margin-right: 15px;
}

nav .logo img {
  height: 50px;
  width: 50px;
}

main {
  background-color: var(--main-gray);
  grid-area: main;
  padding: 20px 10px;
}

main h1 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

main .grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main .card {
  padding: 20px 10px;
  text-align: left;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 5px solid var(--main-orange);
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow);
}

main .card h2 {
  font-weight: 300;
  font-size: 16px;
}

main .card p {
  font-size: 13px;
  font-weight: 100;
  color: var(--text-gray);
}

main .icons {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

main .card svg {
  width: 25px;
  height: 25px;
}

aside {
  background-color: var(--main-gray);
  grid-area: aside;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

aside h1 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 5px;
}

aside .aside-card {
  background-color: var(--off-white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 8px var(--shadow);
}

aside .annouce-card h3 {
  font-size: 13px;
}

aside .annouce-card p {
  font-size: 10px;
  font-weight: 100;
  color: var(--text-gray);
  padding-bottom: 10px;
  border-bottom: 3px solid var(--main-gray);
}

aside .annouce-card h3:not(:first-child) {
  padding-top: 10px;
  border-bottom: 3px solid var(--main-gray);
}

aside .trending-card h4 {
  font-size: 13px;
}

aside .trending-card p {
  font-size: 10px;
  font-weight: 100;
  color: var(--text-gray);
}

aside .trending-card .user {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-auto-rows: 60px;
  row-gap: 20px;
  column-gap: 10px;
  align-items: center;
}