/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* styling */

:root {
  --main-blue: rgb(18, 166, 220);
  --main-orange: rgb(229, 186, 15);
  --main-gray: rgb(210, 210, 210);
  --off-white: rgb(245, 245, 245);
}

ul li {
  list-style-type: none;
}

ul {
  padding-left: 0px;
}


body {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "nav header header"
  "nav main aside"
  ;
  background-color: var(--main-gray);
}

img[src$=".svg"] {
  height: 25px;
  width: 25px;
  display: inline;
}

header {
  padding: 10px;
  background-color: var(--off-white);
  color: black;
  grid-area: header;
  display: flex;
  flex-direction: column;
}

.row-flexed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


header .profile-image-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
}

header h1 {
  width: max-content;
}

header * {
  border: 2px solid red;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  background-color: var(--main-blue);
  padding: 20px;
  color: white;
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 40px;
  font-size: 24px;
}

.logo {
  font-size: 32px;
}

.main-links, .secondary-links {
  margin-left: 10px;
}

nav li, .logo {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.main-links img, .secondary-links img {
  margin-right: 15px;
}

nav .logo img {
  height: 50px;
  width: 50px;
}

main {
  background-color: aqua;
  grid-area: main;
}

aside {
  background-color: yellowgreen;
  grid-area: aside;
}